@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text-heading {
    font-size: 4em;
    font-weight: bold;
    background: linear-gradient(90deg, #1e40af, #f7ef3e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(90deg, #1e40af, #f7ef3e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myButton {
  border-radius: 20px;
  background-color: #ffffff;
}

.myButton:hover {
  background-color: #f7ef3e;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-rainbow {
  background-size: 200% auto;
  background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  animation: rainbow 2s linear infinite;
}

